<footer class="footer">
    <div class="container">
        <nav class="footer__nav">
            <a href="#" class="logo">
                <img src="images/logo.svg" alt="">
                <span>sparrow</span>
            </a>
            <form action="" class="footer__form">
                <input type="email" class="footer__input" name="email" placeholder="Email" required>
                <button class="footer__btn">contact us</button>
            </form>
            <ul class="footer__list">
                <li><a href="#" class="footer__link"><img src="images/instagram.svg" alt=""></a></li>
                <li><a href="#" class="footer__link"><img src="images/telegram.svg" alt=""></a></li>
                <li><a href="#" class="footer__link"><img src="images/facebook.svg" alt=""></a></li>
            </ul>
        </nav>
        <ul class="footer__list">
            @@include('./links.html')
        </ul>
    </div>
</footer>


<script src="scripts/all.min.js"></script>
</body>

</html>